
<launch>
	<param name="use_sim_time" value="true"/>
	<!--node name="map_node" type="static_transform_publisher" pkg="tf" args="0 0 0 3.14 0 0 map_frame odom 100"/-->
    	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
	<!--param name="base_frame_" value="base_link"/>
	<param name="odom_" value="odom"/>
	<param name="delta" value="0.1"/-->

   </node>
</launch>
