[submodule "racecar_ws/src/adi_usb_cam_kinetic"]
	path = racecar_ws/src/adi_usb_cam_kinetic
	url = git@gitlab.analog.com:ATS_Technology_Group/ROS_Projects/adi_usb_cam_kinetic.git
	branch = master
[submodule "racecar_ws/src/adi_hldsLidar_kinetic"]
	path = racecar_ws/src/adi_hldsLidar_kinetic
	url = git@gitlab.analog.com:ATS_Technology_Group/ROS_Projects/adi_hldsLidar_kinetic.git
	branch = master
[submodule "racecar_ws/src/adi_vesc_kinetic"]
	path = racecar_ws/src/adi_vesc_kinetic
	url = git@gitlab.analog.com:ATS_Technology_Group/ROS_Projects/adi_vesc_kinetic.git
	branch = master
[submodule "racecar_ws/src/adi_tof_kinetic"]
	path = racecar_ws/src/adi_tof_kinetic
	url = git@gitlab.analog.com:ATS_Technology_Group/ROS_Projects/adi_tof_kinetic.git
	branch = master
[submodule "racecar_ws/src/adi_SLAM_kinetic"]
	path = racecar_ws/src/adi_SLAM_kinetic
	url = git@gitlab.analog.com:ATS_Technology_Group/ROS_Projects/adi_SLAM_kinetic.git
	branch = master
[submodule "racecar_ws/src/racecar"]
	path = racecar_ws/src/racecar
	url = git@gitlab.analog.com:ATS_Technology_Group/ROS_Projects/racecar.git
	branch = master
[submodule "racecar_ws/src/adi_navigation_kinetic"]
	path = racecar_ws/src/adi_navigation_kinetic
	url = git@gitlab.analog.com:ATS_Technology_Group/ROS_Projects/adi_navigation_kinetic.git
	branch = master
[submodule "racecar_ws/src/adi_IMU_kinetic"]
	path = racecar_ws/src/adi_IMU_kinetic
	url = git@gitlab.analog.com:ATS_Technology_Group/ROS_Projects/adi_IMU_kinetic.git
