[submodule "racecar_ws/src/adi_lidar_melodic"]
	path = racecar_ws/src/adi_lidar_melodic
	url = git@github.com:FalconWarriorr/adi_lidar_kinetic.git
[submodule "racecar_ws/src/adi_usb_cam_melodic"]
	path = racecar_ws/src/adi_usb_cam_melodic
	url = git@github.com:FalconWarriorr/adi_usb_cam_kinetic.git
[submodule "racecar_ws/src/adi_vesc_melodic"]
	path = racecar_ws/src/adi_vesc_melodic
	url = git@github.com:FalconWarriorr/adi_vesc_kinetic.git
[submodule "racecar_ws/src/adi_tof_melodic"]
	path = racecar_ws/src/adi_tof_melodic
	url = git@github.com:FalconWarriorr/adi_tof_kinetic.git
[submodule "racecar_ws/src/adi_slam_gmapping_melodic"]
	path = racecar_ws/src/adi_slam_gmapping_melodic
	url = git@github.com:FalconWarriorr/adi_slam_gmapping_kinetic.git
[submodule "racecar_ws/src/racecar"]
	path = racecar_ws/src/racecar
	url = git@github.com:FalconWarriorr/racecar.git
[submodule "racecar_ws/src/adi_driver"]
	path = racecar_ws/src/adi_driver
	url = git@github.com:FalconWarriorr/adi_driver.git
[submodule "racecar_ws/src/zed-ros-wrapper"]
	path = racecar_ws/src/zed-ros-wrapper
	url = git@github.com:FalconWarriorr/zed-ros-wrapper.git
[submodule "racecar_ws/src/slam_gmapping"]
	path = racecar_ws/src/slam_gmapping
	url = git@github.com:ros-perception/slam_gmapping.git
[submodule "racecar_ws/openslam_gmapping"]
	path = racecar_ws/openslam_gmapping
	url = git@github.com:ros-perception/openslam_gmapping.git
