<?xml version="1.0"?>
<launch>
	<master auto="start"/>
	<param name="/use_sim_time" value="true"/>
<include file="$(find racecar)/launch/teleop.launch"/>
<include file="$(find hls_lfcd_lds_driver)/launch/hlds_laser.launch"/>


<node pkg="gmapping" type="slam_gmapping" name="gmapping">
        <param name="base_frame" value="base_link"/>
        <param name="odom_frame" value="odom" />
        <param name="delta" value="0.1" />
    </node>



</launch>


















