<!-- -*- mode: XML -*- -->
<launch>

  <!-- Starting Zed Camera -->
  <include file="$(find zed_wrapper)/launch/zed_camera.launch" />
  
  <!-- Starting USB Camera -->
  <include file="$(find usb_cam)/launch/usb_cam.launch" />
  
  <!-- Starting Remote control Node -->
  <include file="$(find racecar)/launch/includes/racecar-v2-teleop.launch.xml" />
  
  <!-- Starting LaserScan Node -->
  <include file="$(find hls_lfcd_lds_driver)/launch/hlds_laser.launch" />
   
  <!-- Starting ADI Inertial measurement unit Node -->
  <include file="$(find adi_driver)/launch/adis16470.launch"/>

  <!-- Starting Odometry VESC Node -->
  <node name="listener"  pkg="vesc_ackermann" type="odom_node"/>

  <!-- Starting IMU VESC Node -->
  <node name="imulistener"  pkg="vesc_ackermann" type="imu_node"/>
  
  <!-- Starting Angle VESC Node -->
  <node name="Angle"  pkg="vesc_ackermann" type="angle_node" />

</launch>
