<!-- -*- mode: XML -*- -->
<launch>

   <!--master auto="start"/-->
 <!-- Run the map server --> 
    <!--node name="map_server" pkg="map_server" type="map_server" args="$(find src)/my_map.yaml "/-->

 <!--- Run AMCL --> 
    <include file="$(find amcl)/examples/amcl_diff.launch" />

<node pkg="move_base" type="move_base" name="move_base" output="screen">
        <param name="controller_frequency" value="2"/>
	<param name="planner_frequency" value="2"/>
	<param name="controller_frequency" value="2"/>
	<param name="planner_patience" value="10"/>
	<param name="controller_patience" value="10"/>
	<param name="max_planning_retries" value="5"/>
	<param name="clearing_rotation_allowed" value ="false" />
   	<param name="recovery_behavior_enabled" value="false" />
        
	<rosparam file="$(find move_base)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find move_base)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find move_base)/cfg/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find move_base)/cfg/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find base_local_planner)/cfg/base_local_planner_params.yaml" command="load" />
    </node>
  

</launch> 


